/*Floating Action Button*/
.fab-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: linear-gradient(to bottom, #1e1e2f, #2b2b3d);
  border-color:linear-gradient(to bottom, #1e1e2f, #2b2b3d);
}

.fab-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(26, 115, 232, 0.4);
}

.fab-button:active {
  transform: scale(0.98);
  box-shadow: 0 4px 12px rgba(26, 115, 232, 0.3);
}
